<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>FlipSide</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bars.css">

    <script src="/static/js/category.js" defer></script>
    <script src="/static/js/supplier.js" defer></script>
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/cart.js" defer></script>

</head>

<body>
<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div th:if="${cart.isEmpty()}">
                    <div th:insert=" cart.html :: modal-empty">...</div>
                </div>
                <div th:unless="${cart.isEmpty()}">
                    <div th:insert=" cart.html :: modal-content">...</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Checkout</button>
            </div>
        </div>
    </div>
</div>

<div id="navbar">
    <button class="openbtn" onmouseenter="openNav()">&#9776; Menu</button>
    <span>Contact</span>
    <!-- Button trigger modal -->
    <button type="button" class="open-cart" data-toggle="modal" data-target="#cart">
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>

<div class="jumbotron text-center">
    <h1 style="margin-left: 30%">FLIPSIDE</h1>
</div>

<div id="mySidebar" class="sidebar" onmouseleave="closeNav()">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p>About</p>
    <p class="all-product">See all products</p>
    <p class="dropdown-btn">Categories<i class="fa fa-caret-down"></i></p>
    <div class="category-sidebar">
        <p class="categories" th:each="category : ${categories}" th:data-catid="${category.id}" th:text="${category.name}">Category
            Name
        </p>
    </div>
    <p class="dropdown">Suppliers<i class="fa fa-caret-down"></i></p>
    <div class="supplier-sidebar">
        <p class="suppliers" th:each="supplier : ${suppliers}" th:data-suid="${supplier.id}" th:text="${supplier.name}">Supplier Name</p>
    </div>
</div>

<div class="container" th:each="category : ${categories}" th:data-catid="${category.id}">
    <div class="card" th:data-id="${category.id}">
        <strong class="category-title" th:text="${category.name}">Category Title</strong>
    </div>

    <div class="supplier" th:each="supplier : ${suppliers}" th:if="${!supplier.getProducts().isEmpty()}" th:data-supid="${supplier.id}">
        <div class="card-sup" th:data-sid="${supplier.id}">
            <strong th:text="${supplier.name}">Supplier Name</strong>
        </div>

        <div class="products" th:each="prod : ${products}"
             th:if="${category.getId() == prod.getProductCategory().getId()}">
                    <div class="card product"  th:if="${supplier.getId() == prod.getSupplier().getId()}">
                        <img class="images" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                        <div class="card-header">
                            <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                            <p class="card-text description" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text price">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text cart-button" th:data-id="${prod.getId()}">
                                <a class="btn btn-success">Add to cart</a>
                            </div>
                        </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>