.minus-item, .plus-item, .del-item {
    width: fit-content;
    height: fit-content;
}

.modal button {
    color: #111111;
    border: outset;
    border-radius: 0px;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    background: inherit;
    height: fit-content;

}

.modal button:hover {
    border-color: initial;
    color: darkred;
    background-color: #818181;
}


.amount {
    text-align: center;
    width: 40px;
    height: 55px;
    margin-top: 9%;
}

.modal b {
    font-size: medium;
}

.itemwrapper {
    display: inline-flex;
}

.picture {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.pic {
    width: inherit;
    height: inherit;
}

.infoaboutitem {
    display: flex;
    flex-direction: column;
}

.infoaboutitem button {
    padding-top: 7px;
    height: 40px;
}

.amount-button {
    height: 50px;
    display: flex;
}

#deletebutton {
    padding-top: 9px;
}

.modal-title {
    color: darkred;
    font-size: medium;
}


.modal-header .close {
    text-decoration: #111111;
    padding: 0rem;
    margin: -1rem -1rem -1rem auto;
    border: none;
}

.close span {
    color: black;
}
